.clmonth {
    margin-top: 20px;
    width: 100%;
    padding: 0 30px 0 30px
}
.clmonth th {
    border: 1px solid #AAAAAA;
    padding: 0.5em 0.6em 0.5em 0.6em;
    background-color: #CCCCCC;
    color: #3F3F3F;
}
.clmonth td {
    border: 1px solid #EAEAEA;
    font: 80% Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding: 0.2em 0.6em 0.2em 0.6em;
    vertical-align: top;
    height: 67px;
    background: #FFFF;
}
.col {
    width: 110px;
}
.time {
    width: 50px;
    text-align: center;
}
td div {
    text-align: center;
    height: 100%;
    padding-top: 10px;
}

.lessionPassed{
    background: rgb(140, 233, 140);
}
.lessionSkipped{
    background:rgb(238, 174, 128)
}
.lessionFuture{
    background:rgb(128, 221, 238)
}