
.table{
    margin-top: 20px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 10px; */
    column-gap: 10px;
    border: 1px solid #fdfdfd;
    border-radius: 5px;
}
.tableHead{
    border: 2px solid #fdfdfd;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    background-color: #C3C3C3;
    
}
.tdata {
    margin-top: 10px;
    border: 2px solid #fdfdfd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    min-height: 150px;
    line-height: 28px;
    cursor: pointer;
}
span{
    font-size: 18px;
    /* line-height: 30px; */
    font-weight: bold;
}
.lessonPassed{
    background: rgb(140, 233, 140);
}
.lessonSkipped{
    background:rgb(238, 174, 128)
}
.lessonFuture{
    background:rgb(128, 221, 238)
} 
.lessonRepetition{
    background:rgb(238, 53, 50)
} 


.buttons {
    display: flex;
    /* width: 200%;  */
    width: 300%; 
    justify-content: space-evenly;
}
.updateBut, .deleteBut {
    margin-top: 20px;
    height: 55px;
    width: 60%;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}