
.lessonModal {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    min-height: 400px;
    background-color: #C3C3C3;
    padding: 38px 40px 40px 40px;
}

.open {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 380px;
    min-height: 400px;
    background-color: #C3C3C3;
    padding: 38px 40px 40px 40px;
}


.lessonClose {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    color: black;
    cursor: pointer;
}
.lessonForm{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: 35px;
}
.lessonForm label {
    text-align: center;
    margin-right: 5px;
    height: 35px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px 5px 0 5px;
    font-size: 15px;
    font-weight: 300;
}
   
.lessonInput {
    height: 45px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 300;
    color: #4b4b4b;
    border: none;
}
.checkboxInput {
    height: 25px;
    width: 30px;
}
.checkbox{
    margin-right: 0;
}
.addButtonModal {
    margin-top: 20px;
    width: 300%;
    height: 55px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    
}
.deleteButtonModal {
    display: none;
}

.addButton {
    text-align: end;
    padding-right: 30px;
}
.addLessonBut {
    height: 48px;
    background: #C3C3C3;
    border-width: 0;
    font-size: 16px;
}

.status{
    margin-top: 10px;
    color: red;
    font-size: 16px;
    text-align: center;
    width: 300%;
}