h1 {
    margin: 0;
    padding-top: 15px;
    text-align: center;
}
.weekButton {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center
}
.weekButton button{
    display: block;
    width: 40px;
    font-size: 24px;
}

.week {
    font-size: 20px;
    padding: 0 15px;
}