/* .wrapper {
  margin: 0 auto;
  max-width: 1000px;
} */

button{
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  background: #C3C3C3;
  height: 72px;
  padding-right: 30px;
}

.main{
  /* position: relative; */
  background: #E2E3E0;
}





